<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cpf.dao.LeaveDao">

    <select id="queryAllLeave" resultType="Leave">
        SELECT * FROM dimission
    </select>

    <insert id="saveLeave" parameterType="Leave">
        INSERT into dimission(name,tal,email) VALUES (#{name},#{tal},#{email})
    </insert>

</mapper>